/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

body {
  background-color: #121212;
}

#clock {
  font-family: 'Ranchers', sans-serif;
  color: #00948D;
  font-size: 56px;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 40px;

}
#date {
  font-family: 'Ranchers', sans-serif;
  color: #00948D;
  font-size: 20px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 20px;

}
#greeting {
  font-family: 'Ranchers', sans-serif;
  color: #00948D;
  font-size: 10px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 20px;

}
